include ../layout
	block scripts
		script(type='text/javascript', src='/javascripts/building/my_builds.js')
	block content
		h1=building.address[0].address
		h3 #{building.address[0].city}
			|#{building.address[0].ZIP_code}
			|#{building.address[0].province}
			|#{building.address[0].state}
		hr
		div.table.bs-callout-info.bs-callout
			div(class="table-row search_hit")
				div(class="table-cell inline short not_search") 
					div.input-group.input-group-sm
						span.input-group-addon
							span.glyphicon.glyphicon-home
						input(type="text" class="form-control sm" id="number")
				div(class="table-cell inline short not_search") 
					div.input-group.input-group-sm
						span.input-group-addon
							span.glyphicon.glyphicon-font
						input(type="text" class="form-control sm" id="letter")
				div(class="table-cell inline not_search input-group input-group-sm")
					button(type="button" class="btn btn-info inline setup-flat" id="plus")
						span.glyphicon.glyphicon-plus
				div.table-cell
					button(type="button" class="btn btn-info" id="upload")
						span.glyphicon.glyphicon-upload.right-margin
						div.disapear Guardar
		hr
		div(class="table" id="setup-table")
			for flat in building.flats
				div(class="table-row search_hit")
					div(class="table-cell inline short not_search") 
						span.label.label-success
							span.glyphicon.glyphicon-home.right-margin
							|#{flat}
					div(style="display: table-cell;" class="inline not_search input-group input-group-sm")
						button(type="button" class="btn btn-info inline setup-flat")
							span.glyphicon.glyphicon-minus
		