include ../layout
	block content
		div.box-form
			h2=t('user_signup_wellcome')
			p=t('user_fill_all_fields')
			form(class="form-horizontal" role="form" action="new_user" method="POST")
				div.form-group
					label(for="email" class="col-xs-4 control-label") #{t('user_fill_email')}
					div.col-xs-8.col-sm-5
						input(type="email" name="email" id="email" class="data input-group form-control" required)
				if email_registered
					div.col-xs-12
						div(class="alert alert-danger alert-dismissible" role="alert")
							button(type="button" class="close" data-dismiss="alert")
								span(aria-hidden="true") &times;
								span(class="sr-only") Close
							strong #{t('general_warning')} 
							| !{t('user_email_registered', email_registered)}
				div.form-group
					label(for="name" class="col-xs-4 control-label") #{t('user_fill_user_name')}
					div.col-xs-8.col-sm-5
						input(type="text" name="name" id="name" class="data form-control" required)
				if name_registered
					div.col-xs-12
						div(class="alert alert-danger alert-dismissible" role="alert")
							button(type="button" class="close" data-dismiss="alert")
								span(aria-hidden="true") &times;
								span(class="sr-only") Close
							strong #{t('general_warning')} 
							| !{t('user_name_registered', name_registered)}
				div.form-group
					label(for="password" class="col-xs-4 control-label") #{t('user_fill_password')}
					div.col-xs-8.col-sm-5
						input(type="password" name="password" id="password" class="data input-group form-control" required)
				div.form-group
					label(for="rol-select" class="col-xs-4 control-label") #{t('user_signup_fill_rol')}
					div(id='rol-select' class='btn-group' data-toggle='buttons')
						label(class="btn btn-primary" id="modal"  data-toggle="modal" data-target="#myModal")
							input(type='radio' name='rol' class="rol-select-class" value="Admin" required)
							p=t('nav_admin')
						label.btn.btn-primary
							input(type='radio' name='rol' class="rol-select-class"  value="finalUser" required)
							p=t('nav_user')
				div.form-group
					div.col-md-offset-2
						input(id="sign_log_button" class="btn button btn-default" data-type="new_user" type="submit" value="#{t('user_signup_send_button')}")
			div(class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
				div.modal-dialog
					div.modal-content
						div.modal-header
							button(type="button" class="close" data-dismiss="modal")
								span(aria-hidden="true") &times;
								span.sr-only Close
							h4.modal-title#myModalLabel=t('user_admin_power_title')
						div.modal-body
								p=t('user_admin_power')
						div.modal-footer
							button(type="button" class="btn btn-default" data-dismiss="modal") Close